// Menu Button
.menu-btn {
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 20px;
    height: 20px;
    width: 28px;
    cursor: pointer;
    @include transition-ease;

    &_burger {
        position: absolute;
        right: 0px;
        top: 10px;
        width: 28px;
        height: 3px;
        background: set-text-color($bg-color);
        @include transition-ease;

        &::before {
            content: '';
            position: absolute;
            top: -10px;
            width: 28px;
            height: 3px;
            background: set-text-color($bg-color);
            @include transition-ease;
        }
        &::after {
            content: '';
            position: absolute;
            top: 10px;
            width: 20px;
            height: 3px;
            background: set-text-color($bg-color);
            @include transition-ease;
        }

        &.open {
            transform: rotate(720deg);
            background: transparent;

            &::before {
                transform: rotate(45deg) translate(5px, 10px);
            }
            &::after {
                width: 28px;
                transform: rotate(-45deg) translate(3px, -10px);
            }
        }
    }
}
// Menu, Menu Links
.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    opacity: 0.98;
    visibility: hidden;

    &.open {
        visibility: visible;
    }

    .menu-nav {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        overflow: hidden;
        background: $bg-color;
        list-style-type: none;
        transform: translateY(-100%);
        @include transition-ease;

        &.open {
            transform: translateY(0);
        }
        &_item {
            transform: translateX(100vw);
            @include transition-ease;

            &.open {
                transform: translateX(0);
            }

            &.active > a {
                color: $primary-color;
            }
            }
        &_link {
            display: inline-block;
            font-size: $font-size-h1;
            text-transform: capitalize;
            padding: 1rem 0;
            font-weight: $font-md;
            @include transition-ease;
            
            &:hover {
                color: $menu-dot-color;
            }
        }
    }
}

// Function for delaying the links' animations
@for $i from 1 through 4 {
    .menu-nav_item:nth-child(#{$i}) {
        transition-delay: ($i *0.1) + 0.15s;
    }
}